<footer>
  <small>
  <ul class="company">
    <li><a href="https://github.com/bayang">© bayang</a></li>
    <li>Thanks to <a href="http://flask.pocoo.org/">Flask</a>, <a href="https://github.com/audreyr/cookiecutter/">Audrey Roy's Cookiecutter</a> and <a href="https://github.com/sloria/cookiecutter-flask">Steven Loria</a></li>
  </ul>

    <ul class="footer-nav">

      <li><a href="{{ url_for('public.about') }}">About</a></li>

      <li><a href="mailto:bayang@gmail.com">Contact</a></li>
    </ul>
  </small>
</footer>
